footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F1F1F1;
  z-index: 2;
  color: #58666E;
  padding: 15px;
  font-size: 12px;
  font-weight: 100;
  border-top: 1px solid #e4e4e4;
}
