/*// Sidebar generals - white
// --------------------------------------------------
@base-color                  : #FFFFFF;
@bg-sidebar             : @base-color;
@bg-color-hover         : darken(@bg-sidebar, 2%);
@bg-color-focus         : darken(@bg-sidebar, 10%);

// Text item sidebar
// --------------------------------------------------
@text-item-color        : #8D8D8D;
@text-item-active-color : #333B3F;
@text-item-background   : @bg-sidebar;

// Border color sidebar
// --------------------------------------------------
@border-color           : #E5EBEC;

// Icon font-awesome sidebar
// --------------------------------------------------
@icon-color             : #E5EBEC;
@icon-hover-color       : #707E85;
@icon-active-color      : #333B3F;

// User card sidebar
// --------------------------------------------------
@text-card-color-h1     : #0078BC;
@text-card-color-h3     : #8d9498;*/
#sidebar {
  font-weight: lighter;
  background: #4F5467;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-right: 1px solid #656B81;
}
#sidebar .nav-list {
  list-style: none outside none;
  margin: 0 0 20px 0;
  padding: 0;
}
#sidebar .nav-list li {
  border-bottom: 1px solid #656B81;
  display: block;
  margin: 0px;
  padding-left: 5px;
  position: relative;
}
#sidebar .nav-list li a {
  padding: 0 16px 0 10px !important;
  background: #4F5467;
  color: #8D9498;
  display: block;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-shadow: none !important;
}
#sidebar .nav-list li a i.fa {
  font-size: 1.5em;
  color: #8D8E84;
  margin-right: 10px;
  width: 24px;
  text-align: center;
}
#sidebar .nav-list li a:hover {
  background: #4b4f61;
}
#sidebar .nav-list li a:hover i.fa {
  color: #C7C9BC;
}
#sidebar .nav-list li.active > a {
  background: #4b4f61;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}
#sidebar .nav-list li.active > a i.fa {
  color: #FFFFFF;
  margin-right: 10px;
}
#sidebar .nav-list li.active > a:hover,
#sidebar .nav-list li.active > a:focus,
#sidebar .nav-list li.active > a:active {
  font-size: 13px;
  font-weight: 600;
}
#sidebar .nav-list li:nth-child(1) {
  border-top: 1px solid #656B81;
}
#sidebar section {
  margin: 10px 0;
  text-align: center;
}
#sidebar section #user-logged {
  width: 69px;
  height: 69px;
  position: relative;
  margin: 0 auto;
}
#sidebar section #user-logged #user-logged-status {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  top: 1px;
  right: -6px;
}
#sidebar section #user-logged #user-logged-status.logged {
  background: #2ECC71;
}
#sidebar section #user-logged #user-logged-status.logout {
  background: #E5EBEC;
}
#sidebar section #user-logged-data h1 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
}
#sidebar section #user-logged-data h3 {
  color: #DDE3E6;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0;
}
