@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
html {
  position: relative;
  min-height: 100%;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  padding-top: 25px;
}
body {
  margin-bottom: 60px;
}
body article#main {
  padding: 10px;
  min-height: 800px;
}
.navbar-primary {
  background-color: #04C339;
  border-color: #03a330;
  font-weight: lighter;
}
.navbar-primary .navbar-brand {
  color: #FFFFFF;
}
.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-primary .navbar-text {
  color: #FFFFFF;
}
.navbar-primary .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
  color: #027823;
  background-color: transparent;
}
.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
  color: #E3E3E3;
  background-color: #03a330;
}
.navbar-primary .navbar-nav > .disabled > a,
.navbar-primary .navbar-nav > .disabled > a:hover,
.navbar-primary .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-primary .navbar-toggle {
  border-color: #ddd;
}
.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-primary .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-primary .navbar-collapse,
.navbar-primary .navbar-form {
  border-color: #03a330;
}
.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
  background-color: #03a330;
  color: #E3E3E3;
}
@media (max-width: 767px) {
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #027823;
    background-color: transparent;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E3E3E3;
    background-color: #03a330;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-primary .navbar-link {
  color: #FFFFFF;
}
.navbar-primary .navbar-link:hover {
  color: #027823;
}
.navbar-primary .btn-link {
  color: #FFFFFF;
}
.navbar-primary .btn-link:hover,
.navbar-primary .btn-link:focus {
  color: #027823;
}
.navbar-primary .btn-link[disabled]:hover,
fieldset[disabled] .navbar-primary .btn-link:hover,
.navbar-primary .btn-link[disabled]:focus,
fieldset[disabled] .navbar-primary .btn-link:focus {
  color: #ccc;
}
/*// Sidebar generals - white
// --------------------------------------------------
@base-color                  : #FFFFFF;
@bg-sidebar             : @base-color;
@bg-color-hover         : darken(@bg-sidebar, 2%);
@bg-color-focus         : darken(@bg-sidebar, 10%);

// Text item sidebar
// --------------------------------------------------
@text-item-color        : #8D8D8D;
@text-item-active-color : #333B3F;
@text-item-background   : @bg-sidebar;

// Border color sidebar
// --------------------------------------------------
@border-color           : #E5EBEC;

// Icon font-awesome sidebar
// --------------------------------------------------
@icon-color             : #E5EBEC;
@icon-hover-color       : #707E85;
@icon-active-color      : #333B3F;

// User card sidebar
// --------------------------------------------------
@text-card-color-h1     : #0078BC;
@text-card-color-h3     : #8d9498;*/
#sidebar {
  font-weight: lighter;
  background: #4F5467;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-right: 1px solid #656B81;
}
#sidebar .nav-list {
  list-style: none outside none;
  margin: 0 0 20px 0;
  padding: 0;
}
#sidebar .nav-list li {
  border-bottom: 1px solid #656B81;
  display: block;
  margin: 0px;
  padding-left: 5px;
  position: relative;
}
#sidebar .nav-list li a {
  padding: 0 16px 0 10px !important;
  background: #4F5467;
  color: #8D9498;
  display: block;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-shadow: none !important;
}
#sidebar .nav-list li a i.fa {
  font-size: 1.5em;
  color: #8D8E84;
  margin-right: 10px;
  width: 24px;
  text-align: center;
}
#sidebar .nav-list li a:hover {
  background: #4b4f61;
}
#sidebar .nav-list li a:hover i.fa {
  color: #C7C9BC;
}
#sidebar .nav-list li.active > a {
  background: #4b4f61;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}
#sidebar .nav-list li.active > a i.fa {
  color: #FFFFFF;
  margin-right: 10px;
}
#sidebar .nav-list li.active > a:hover,
#sidebar .nav-list li.active > a:focus,
#sidebar .nav-list li.active > a:active {
  font-size: 13px;
  font-weight: 600;
}
#sidebar .nav-list li:nth-child(1) {
  border-top: 1px solid #656B81;
}
#sidebar section {
  margin: 10px 0;
  text-align: center;
}
#sidebar section #user-logged {
  width: 69px;
  height: 69px;
  position: relative;
  margin: 0 auto;
}
#sidebar section #user-logged #user-logged-status {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  top: 1px;
  right: -6px;
}
#sidebar section #user-logged #user-logged-status.logged {
  background: #2ECC71;
}
#sidebar section #user-logged #user-logged-status.logout {
  background: #E5EBEC;
}
#sidebar section #user-logged-data h1 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
}
#sidebar section #user-logged-data h3 {
  color: #DDE3E6;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: lighter;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  padding: 0 5px;
  color: #A1ABAD;
}
.breadcrumb > li a {
  color: #A1ABAD;
}
.breadcrumb > li a:hover {
  color: #000000;
}
.breadcrumb > .active {
  color: #5B5B5B;
}
.panel {
  margin: 5px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 0;
}
.panel-body {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}
.panel-heading {
  padding: 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid E5EBEC;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-default {
  border-color: #E5EBEC;
}
.panel-default > .panel-heading {
  color: #5B5B5B;
  background-color: #E5EBEC;
  border: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-default > .panel-heading .badge {
  color: #E5EBEC;
  background-color: #5B5B5B;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
.panel-primary {
  border-color: #E5EBEC;
}
.panel-primary > .panel-heading {
  color: #FFFFFF;
  background-color: #0283CC;
  border: none;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-primary > .panel-heading .badge {
  color: #0283CC;
  background-color: #FFFFFF;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
.panel-success {
  border-color: #E5EBEC;
}
.panel-success > .panel-heading {
  color: #FFFFFF;
  background-color: #2ECC71;
  border: none;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-success > .panel-heading .badge {
  color: #2ECC71;
  background-color: #FFFFFF;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
.panel-info {
  border-color: #E5EBEC;
}
.panel-info > .panel-heading {
  color: #FFFFFF;
  background-color: #00BBD9;
  border: none;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-info > .panel-heading .badge {
  color: #00BBD9;
  background-color: #FFFFFF;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
.panel-warning {
  border-color: #E5EBEC;
}
.panel-warning > .panel-heading {
  color: #FFFFFF;
  background-color: #ffbb50;
  border: none;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-warning > .panel-heading .badge {
  color: #ffbb50;
  background-color: #FFFFFF;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
.panel-danger {
  border-color: #E5EBEC;
}
.panel-danger > .panel-heading {
  color: #FFFFFF;
  background-color: #ef836a;
  border: none;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #E5EBEC;
}
.panel-danger > .panel-heading .badge {
  color: #ef836a;
  background-color: #FFFFFF;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #E5EBEC;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F1F1F1;
  z-index: 2;
  color: #58666E;
  padding: 15px;
  font-size: 12px;
  font-weight: 100;
  border-top: 1px solid #e4e4e4;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid E5EBEC;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid E5EBEC;
  color: #333B3F;
  font-weight: 600;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  color: #8D9498;
  font-weight: lighter;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid E5EBEC;
}
.table .table {
  background-color: #FFFFFF;
}
.table .fa {
  font-size: 1.4em;
}
.table .fa.icon-default {
  color: #E5EBEC;
}
.table .fa.icon-default:hover {
  color: #8da7ab;
}
.table .fa.icon-primary {
  color: #0283CC;
}
.table .fa.icon-primary:hover {
  color: #012234;
}
.table .fa.icon-info {
  color: #00BBD9;
}
.table .fa.icon-info:hover {
  color: #003740;
}
.table .fa.icon-success {
  color: #2ECC71;
}
.table .fa.icon-success:hover {
  color: #124f2c;
}
.table .fa.icon-warning {
  color: #FFB136;
}
.table .fa.icon-warning:hover {
  color: #9c5f00;
}
.table .fa.icon-danger {
  color: #E74A25;
}
.table .fa.icon-danger:hover {
  color: #681d0b;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid E5EBEC;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid E5EBEC;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 18.75px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid E5EBEC;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.fijar-tabla {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.fijar-tabla tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert {
  padding: 20px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: 600;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 20px 15px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #2ECC71;
  border-color: #25a25a;
  color: #fbfefc;
}
.alert-success hr {
  border-top-color: #208e4e;
}
.alert-success .alert-link {
  color: #d1f5e0;
}
.alert-info {
  background-color: #00BBD9;
  border-color: #008fa6;
  color: #d9faff;
}
.alert-info hr {
  border-top-color: #00798c;
}
.alert-info .alert-link {
  color: #a6f3ff;
}
.alert-warning {
  background-color: #FFB136;
  border-color: #ff9d03;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #e98e00;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #E74A25;
  border-color: #c33716;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #ad3013;
}
.alert-danger .alert-link {
  color: #ccffff;
}
form {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 300;
  color: #8D9498;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
select.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  color: #555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #E5EBEC;
  border-radius: 0;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #d0d3d5;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d0d3d5;
}
.form-control::-webkit-input-placeholder {
  color: #d0d3d5;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  font-weight: lighter;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 40px;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 1.3333333;
  border-radius: 0;
  font-weight: lighter;
}
select.input-lg {
  height: 40px;
  line-height: 40px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 40px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #d0d3d5;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #5B5B5B;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #5B5B5B;
  background-color: #E5EBEC;
  border-color: #dce4e6;
}
.btn-default:focus,
.btn-default.focus {
  color: #5B5B5B;
  background-color: #c8d4d6;
  border-color: #92acb0;
}
.btn-default:hover {
  color: #5B5B5B;
  background-color: #c8d4d6;
  border-color: #b9c9cc;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #5B5B5B;
  background-color: #c8d4d6;
  border-color: #b9c9cc;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #5B5B5B;
  background-color: #b3c4c7;
  border-color: #92acb0;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #E5EBEC;
  border-color: #dce4e6;
}
.btn-default .badge {
  color: #E5EBEC;
  background-color: #5B5B5B;
}
.btn-primary {
  color: #fff;
  background-color: #0283CC;
  border-color: #0279bd;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #026399;
  border-color: #01283f;
}
.btn-primary:hover {
  color: #fff;
  background-color: #026399;
  border-color: #015280;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #026399;
  border-color: #015280;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #014c76;
  border-color: #01283f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #0283CC;
  border-color: #0279bd;
}
.btn-primary .badge {
  color: #0283CC;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #2ECC71;
  border-color: #2bc06a;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #25a25a;
  border-color: #145730;
}
.btn-success:hover {
  color: #fff;
  background-color: #25a25a;
  border-color: #208e4e;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #25a25a;
  border-color: #208e4e;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #1e854a;
  border-color: #145730;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #2ECC71;
  border-color: #2bc06a;
}
.btn-success .badge {
  color: #2ECC71;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #00BBD9;
  border-color: #00aeca;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #008fa6;
  border-color: #00404a;
}
.btn-info:hover {
  color: #fff;
  background-color: #008fa6;
  border-color: #00798d;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #008fa6;
  border-color: #00798d;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #007082;
  border-color: #00404a;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #00BBD9;
  border-color: #00aeca;
}
.btn-info .badge {
  color: #00BBD9;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #FFB136;
  border-color: #ffab27;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ff9d03;
  border-color: #a66600;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ff9d03;
  border-color: #e88e00;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ff9d03;
  border-color: #e88e00;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #de8800;
  border-color: #a66600;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #FFB136;
  border-color: #ffab27;
}
.btn-warning .badge {
  color: #FFB136;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #E74A25;
  border-color: #e44019;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c33716;
  border-color: #71200c;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c33716;
  border-color: #ad3013;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c33716;
  border-color: #ad3013;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #a32e12;
  border-color: #71200c;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #E74A25;
  border-color: #e44019;
}
.btn-danger .badge {
  color: #E74A25;
  background-color: #fff;
}
.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 5px;
}
.btn-sm {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333B3F;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container-checkbox input:checked ~ .checkmark {
  background-color: #c8d4d6;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #E5EBEC;
  border-radius: 4px;
}
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-checkbox:hover input ~ .checkmark {
  background-color: #E5EBEC;
}
.container-radio {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333B3F;
}
.container-radio input {
  position: absolute;
  opacity: 0;
}
.container-radio input:checked ~ .radio-btn {
  background-color: #c8d4d6;
}
.container-radio input:checked ~ .radio-btn:after {
  display: block;
}
.container-radio .radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #E5EBEC;
  border-radius: 50%;
}
.container-radio .radio-btn:after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.container-radio:hover input ~ .radio-btn {
  background-color: #E5EBEC;
}
